# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
agentes/

# Logs
*.log

# Outputs dinámicos
outputs/
videos/
repos/
projects/

# Drivers y binarios
chromedriver*
*.exe

# OS
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/
