body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  background: #0f172a;
  color: white;
}

.sidebar {
  width: 220px;
  background: #020617;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #1e293b;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.sidebar button:hover {
  background: #334155;
}

.main {
  flex: 1;
  padding: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.card button {
  padding: 8px 14px;
  background: #22c55e;
  border: none;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
